@(queryList: List[Query], queryForm: Form[Query])

@import helper._
@import controllers.routes.javascript._

<!DOCTYPE html>

<html>
    <head>
        <title>Welcom to Yoda Data Warehouse</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrapSwitch.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrapSwitch.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('div.btn-group[data-toggle-name]').each(function(){
                    var group   = $(this);
                    var form    = group.parents('form').eq(0);
                    var name    = group.attr('data-toggle-name');
                    var hidden  = $('input[name="' + name + '"]', form);
                    $('button', group).each(function(){
                        var button = $(this);
                        button.click(function(){
                            hidden.val($(this).val());
                        });
                        if(button.val() == hidden.val()) {
                            button.addClass('active');
                        }
                    });
                });

                $('button[name*="getChart"]').each(function(){
                    var _this   = $(this);
                    _this.click(function(){
                        var form = _this.parents('form').eq(0);
                        var chart = $('div.chart', form);
                        var queryString = getQueryString(form);
                        //chart.html("<div><iframe src=\"" + query + "&yrange=[0:]&key=out%20center%20top%20box&wxh=1200x200&png\" style=\"width: 100%; height: 200px\" scrolling=\"yes\" marginwidth=\"0\" marginheight=\"0\" frameborder=\"0\" vspace=\"0\" hspace=\"0\"><p>Your browser does not support iframes.</p></iframe></div>");

                        jsRoutes.controllers.Application.ajaxChart(queryString).ajax({
                            success: function(data) {
                                chart.html(data);
                            },
                            error: function() {
                                alert("Error!")
                            }
                        })
                    });
                });

                function getQueryString(form) {
                    var metric = $('input[name="metric"]', form).val();
                    var metricAggregation = "avg";
                    var host = $('input[name="host"]', form).val();
                    var timeWindow = $('input[name="timeWindow"]', form).val();
                    var chart = $('div.chart', form);
                    var qs = "http://10.64.8.75:4242/q?start=" + timeWindow + "-ago&m=" + metricAggregation + ":" + metric;

                    if(host)
                        qs += "{host=" + host + "}";

                    return qs;
                }
            });
        </script>
    </head>
    <body>
    <h2>Welcome to Yoda Data Warehouse</h2>

    @for(query <- queryList) {
        <form action="@routes.Application.chart" method="get" class="form-inline">
            <legend></legend>

            <input class="input-xlarge" name="metric" type="text" autocomplete="off" placeholder="metric" value=@query.metric>
            <input class="input-xlarge" name="host" type="text" autocomplete="off" placeholder="host" value=@query.host>
            <div class="btn-group" data-toggle-name="timeWindow" data-toggle="buttons-radio">
                <button type="button" value="1y" class="btn">1y</button>
                <button type="button" value="1m" class="btn">1m</button>
                <button type="button" value="1w" class="btn">1w</button>
                <button type="button" value="1d" class="btn">1d</button>
                <button type="button" value="4h" class="btn">4h</button>
                <button type="button" value="15m" class="btn">15m</button>
            </div>
            <input class="input-small" name="timeWindow" type="hidden" autocomplete="off" placeholder="timeWindow" value=@query.timeWindow>
            <label style="margin-left: 10px">Auto Refresh:</label>
            <div style="margin-right: 10px" class="switch switch-small" data-on="success">
                <input type="checkbox" name="autoRefresh" value=@query.autoRefresh>
            </div>
            <button name="getChart" type="button" class="btn btn-primary">Get chart</button>
            </br>
            </br>
            <div class="chart">
                <iframe src="@query.getQueryString()&yrange=[0:]&key=out%20center%20top%20box&wxh=1200x200&png" style="width: 100%; height: 200px" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </div>
        </form>
    }

    <!--Sample Link--http://10.64.8.75:4242/q?start=15m-ago&ignore=48&m=sum:servlet.concurrents&yrange=[0:]&key=out%20center%20top%20box&wxh=1200x200&png-->
    </body>
</html>
